{%extends 'common/base.html' %}
{% block title %}Login{% endblock %}
{% block content %}
{{error}}
<form action = "{% url 'login' %}" method = "POST">
	{% csrf_token %}
	<input type="text" name="username">
	<input type="password" name="password">
	<input type="submit" name="submit" value="Login">

</form>
<h3>Sign up</h3>
<form action =  "{% url 'add' %}" method="POST">
{% csrf_token %}
	<input type="text" name="username">
	<input type="password" name="password">
	<input type="submit" name="submit" value="+">
</form>
<p><a href = "{% url 'forgot_password' %}">FORGOT PASSWORD</a></p>
	<meta name="google-signin-scope" content="profile email">
    <meta name="google-signin-client_id" content="963358457113-f750q7ohpbduoc5hphfruc6qt9ibqkcf.apps.googleusercontent.com">
    <script src="https://apis.google.com/js/platform.js" async defer></script>

<div class="g-signin2" data-onsuccess="onSignIn" data-theme="dark"></div>
    <script>
      function onSignIn(googleUser) {
        // Useful data for your client-side scripts:
        var profile = googleUser.getBasicProfile();
        console.log("ID: " + profile.getId()); // Don't send this directly to your server!
        console.log('Full Name: ' + profile.getName());
        console.log('Given Name: ' + profile.getGivenName());
        console.log('Family Name: ' + profile.getFamilyName());
        console.log("Image URL: " + profile.getImageUrl());
        console.log("Email: " + profile.getEmail());

        // The ID token you need to pass to your backend:
        var id_token = googleUser.getAuthResponse().id_token;
        console.log("ID Token: " + id_token);
      };
    </script> 

{% endblock %}