{% extends 'common/base.html' %}
{% load staticfiles %}
{% block content %}

{{message}}
<h3>hello</h3>
<input type="text" name="search_box" id = "search">
<div id = "yo"></div>
<div id = "list">

<ul>
	{% for l in list_view %}
	{% csrf_token %}
	<li>
		
		<div class = "content" id ="{{l.title}}"><p class="name">{{ l.title }}</p>
		<p class="rate">21</p>
		<p class="name2">s</p>
		<p class="name3">d</p></div><div><button class = "yoy" id = "buttons" >Click</button></div>

	</li>

	{% endfor %}
</ul>

</div>